// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "node_modules/admin-lte/plugins/fontawesome-free/css/all";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    height: 100px;
}
